In [4]:
import pandas as pd
import numpy as np

In [5]:
raw_data = pd.read_csv('../../DataSets/stackoverflow 2018/survey_results_public.csv')

C:\Users\GirrajJangid\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
raw_data.head()

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98855 entries, 0 to 98854
Columns: 129 entries, Respondent to SurveyEasy
dtypes: float64(41), int64(1), object(87)
memory usage: 97.3+ MB

In [9]:
(raw_data.dtypes)

Respondent                       int64
Hobby                           object
OpenSource                      object
Country                         object
Student                         object
Employment                      object
FormalEducation                 object
UndergradMajor                  object
CompanySize                     object
DevType                         object
YearsCoding                     object
YearsCodingProf                 object
JobSatisfaction                 object
CareerSatisfaction              object
HopeFiveYears                   object
JobSearchStatus                 object
LastNewJob                      object
AssessJob1                     float64
AssessJob2                     float64
AssessJob3                     float64
AssessJob4                     float64
AssessJob5                     float64
AssessJob6                     float64
AssessJob7                     float64
AssessJob8                     float64
AssessJob9                     float64
AssessJob10                    float64
AssessBenefits1                float64
AssessBenefits2                float64
AssessBenefits3                float64
                                ...
EthicsResponsible               object
EthicalImplications             object
StackOverflowRecommend          object
StackOverflowVisit              object
StackOverflowHasAccount         object
StackOverflowParticipate        object
StackOverflowJobs               object
StackOverflowDevStory           object
StackOverflowJobsRecommend      object
StackOverflowConsiderMember     object
HypotheticalTools1              object
HypotheticalTools2              object
HypotheticalTools3              object
HypotheticalTools4              object
HypotheticalTools5              object
WakeTime                        object
HoursComputer                   object
HoursOutside                    object
SkipMeals                       object
ErgonomicDevices                object
Exercise                        object
Gender                          object
SexualOrientation               object
EducationParents                object
RaceEthnicity                   object
Age                             object
Dependents                      object
MilitaryUS                      object
SurveyTooLong                   object
SurveyEasy                      object
Length: 129, dtype: object

In [10]:
raw_data.select_dtypes(include=[int,float])

,AssessJob1,AssessJob2,AssessJob3,AssessJob4,AssessJob5,AssessJob6,AssessJob7,AssessJob8,AssessJob9,AssessJob10,...,JobEmailPriorities6,JobEmailPriorities7,ConvertedSalary,AdsPriorities1,AdsPriorities2,AdsPriorities3,AdsPriorities4,AdsPriorities5,AdsPriorities6,AdsPriorities7
0,10.0,7.0,8.0,1.0,2.0,5.0,3.0,4.0,9.0,6.0,...,4.0,3.0,NaN,1.0,5.0,4.0,7.0,2.0,6.0,3.0
1,1.0,7.0,10.0,8.0,2.0,5.0,4.0,3.0,6.0,9.0,...,6.0,7.0,70841.0,3.0,5.0,1.0,4.0,6.0,7.0,2.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8.0,5.0,7.0,1.0,2.0,6.0,4.0,3.0,10.0,9.0,...,4.0,5.0,21426.0,2.0,3.0,4.0,6.0,1.0,7.0,5.0
5,8.0,5.0,4.0,9.0,1.0,3.0,6.0,2.0,10.0,7.0,...,5.0,4.0,41671.0,1.0,3.0,4.0,2.0,7.0,5.0,6.0
6,5.0,3.0,9.0,4.0,1.0,8.0,2.0,7.0,10.0,6.0,...,6.0,7.0,120000.0,1.0,4.0,2.0,5.0,3.0,7.0,6.0
7,6.0,5.0,4.0,2.0,7.0,8.0,10.0,1.0,9.0,3.0,...,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6.0,3.0,7.0,4.0,1.0,5.0,10.0,8.0,9.0,2.0,...,6.0,5.0,250000.0,1.0,3.0,5.0,4.0,2.0,7.0,6.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,6.0,9.0,2.0,4.0,3.0,5.0,8.0,7.0,10.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1.0,9.0,2.0,10.0,6.0,3.0,4.0,5.0,7.0,8.0,...,4.0,5.0,0.0,4.0,5.0,6.0,2.0,1.0,7.0,3.0
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,5.0,7.0,4.0,8.0,2.0,6.0,9.0,1.0,10.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,9.0,4.0,10.0,3.0,1.0,6.0,5.0,2.0,7.0,8.0,...,4.0,2.0,47904.0,3.0,2.0,4.0,7.0,5.0,6.0,1.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,7.0,4.0,10.0,2.0,1.0,5.0,3.0,6.0,9.0,8.0,...,1.0,6.0,95968.0,2.0,3.0,1.0,7.0,6.0,4.0,5.0
21,3.0,4.0,6.0,7.0,1.0,8.0,5.0,2.0,9.0,10.0,...,7.0,6.0,NaN,1.0,3.0,2.0,4.0,7.0,5.0,6.0
22,3.0,9.0,10.0,6.0,8.0,7.0,1.0,2.0,4.0,5.0,...,NaN,NaN,420.0,1.0,6.0,2.0,3.0,5.0,4.0,7.0
23,10.0,9.0,7.0,1.0,3.0,5.0,2.0,6.0,4.0,8.0,...,5.0,4.0,75000.0,1.0,7.0,3.0,2.0,5.0,4.0,6.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10958.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1.0,7.0,6.0,10.0,9.0,4.0,2.0,3.0,8.0,5.0,...,6.0,3.0,51408.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,6.0,7.0,10.0,4.0,2.0,5.0,3.0,1.0,9.0,8.0,...,6.0,2.0,72611.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,7.0,10.0,8.0,1.0,4.0,5.0,2.0,3.0,6.0,9.0,...,NaN,NaN,900000.0,3.0,1.0,2.0,7.0,6.0,5.0,4.0
28,2.0,1.0,5.0,7.0,3.0,4.0,10.0,6.0,9.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98833,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# One hot encoding vs. dummies

In [20]:
#raw_data.Student.unique()
# One hot encoding
pd.get_dummies(raw_data,columns=['Student'] , prefix=['SD'])

,Respondent,Hobby,OpenSource,Country,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,...,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy,SD_No,"SD_Yes, full-time","SD_Yes, part-time"
0,1,Yes,No,Kenya,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy,1,0,0
1,3,Yes,Yes,United Kingdom,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,1,0,0
2,4,Yes,Yes,United States,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,24-26 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
3,5,No,No,United States,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,18-20 years,...,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy,1,0,0
4,7,Yes,No,South Africa,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,6-8 years,...,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,0,0,1
5,8,Yes,No,United Kingdom,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,6-8 years,...,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy,1,0,0
6,9,Yes,Yes,United States,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,9-11 years,...,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Somewhat easy,1,0,0
7,10,Yes,Yes,Nigeria,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Designer;Front-end developer;QA or test developer,0-2 years,...,Primary/elementary school,Black or of African descent,25 - 34 years old,No,NaN,The survey was too long,Somewhat difficult,1,0,0
8,11,Yes,Yes,United States,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",30 or more years,...,Some college/university study without earning ...,White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy,1,0,0
9,16,No,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Designer,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
10,17,Yes,No,Spain,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...","1,000 to 4,999 employees",Back-end developer;Database administrator;Mobi...,6-8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
11,18,Yes,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",100 to 499 employees,Back-end developer;Front-end developer;Full-st...,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
12,19,Yes,No,Croatia,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Front-end developer,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
13,20,No,No,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",20 to 99 employees,Back-end developer;Full-stack developer,3-5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
14,21,No,No,Netherlands,Employed full-time,"Secondary school (e.g. American high school, G...",NaN,20 to 99 employees,Back-end developer;Front-end developer;Student,0-2 years,...,Associate degree,White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Neither easy nor difficult,0,1,0
15,22,Yes,No,Israel,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Fine arts or performing arts (ex. graphic desi...,"5,000 to 9,999 employees",Full-stack developer,3-5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
16,26,No,No,United States,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Student,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
17,27,Yes,No,Sweden,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",10 to 19 employees,Back-end developer,6-8 years,...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Somewhat difficult,1,0,0
18,29,Yes,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,"10,000 or more employees",Data or business analyst;Data scientist or mac...,0-2 years,...,Some college/university study without earning ...,NaN,NaN,NaN,NaN,The survey was too long,Very difficult,0,1,0
19,31,Yes,Yes,Chile,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,3-5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
20,33,Yes,Yes,Australia,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","1,000 to 4,999 employees",Database administrator;Full-stack developer;Mo...,15-17 years,...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult,1,0,0
21,34,Yes,No,United States,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,500 to 999 employees,Back-end developer;Desktop or enterprise appli...,24-26 years,...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy,1,0,0
22,37,No,No,United Kingdom,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;Desi...,9-11 years,...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,NaN,The survey was too long,Neither easy nor difficult,1,0,0
23,38,Yes,No,United States,Employed full-time,Some college/university study without earning ...,NaN,10 to 19 employees,Back-end developer;Database administrator;DevO...,18-20 years,...,They never completed any formal education,White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy,1,0,0
24,39,Yes,No,India,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Mobile developer,3-5 years,...,NaN,NaN,25 - 34 years old,No,NaN,The survey was too long,Very easy,1,0,0
25,41,Yes,Yes,Greece,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",20 to 99 employees,Full-stack developer,9-11 years,...,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Very easy,0,1,0
26,43,Yes,Yes,Sweden,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Front-end developer;Full-stack developer,12-14 years,...,"Secondary school (e.g. American high school, G...",Hispanic or Latino/Latina;White or of European...,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,1,0,0
27,44,No,No,United States,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",100 to 499 employees,Back-end developer;Full-stack developer,3-5 years,...,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,No,No,The survey was too long,Very easy,1,0,0
28,45,Yes,Yes,United States,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Data scientist or machine l...,6-8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
29,46,Yes,Yes,United Kingdom,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,9-11 years,...,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Black or of African descent;East Asian;Hispani...,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98825,101084,Yes,No,India,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
98826,101085,Yes,Yes,Russian Federation,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
98827,101114,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98828,101120,No,No,Russian Federation,Employed full-time,Primary/elementary school,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98829,101138,Yes,Yes,Netherlands,Employed part-time,"Secondary school (e.g. American high school, G...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98830,101151,Yes,Yes,India,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98831,101152,Yes,No,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98832,101154,Yes,Yes,Netherlands,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
98833,101170,Yes,No,India,"Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,Back-end developer;QA or test developer;Student,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98834,101185,Yes,Yes,Poland,"Not employed, and not looking for work",Primary/elementary school,NaN,NaN,Back-end developer;Designer;Student,3-5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98835,101200,Yes,Yes,Viet Nam,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98836,101202,Yes,Yes,"Iran, Islamic Republic of...",Employed full-time,I never completed any formal education,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98837,101205,Yes,No,Czech Republic,"Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98838,101258,No,No,Poland,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
98839,101263,Yes,Yes,India,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
98840,101281,Yes,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1
98841,101310,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98842,101358,Yes,Yes,Pakistan,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
98843,101366,Yes,No,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98844,101371,Yes,Yes,India,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98845,101391,No,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98846,101396,Yes,Yes,Azerbaijan,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98847,101411,No,No,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98848,101432,Yes,No,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98849,101478,No,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
98850,101513,Yes,Yes,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
98851,101531,No,Yes,Spain,"Not employed, but looking for work",NaN,NaN,NaN,Back-end developer;Front-end developer,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98852,101541,Yes,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
98853,101544,Yes,No,Russian Federation,"Independent contractor, freelancer, or self-em...",Some college/university study without earning ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
98854,101548,Yes,Yes,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [21]:
# dummies encoding # it cannot contain 1 columns if all value zero it means that belongs to missing columns
pd.get_dummies(raw_data,columns=['Student'] , prefix=['SD'],drop_first=True)

,Respondent,Hobby,OpenSource,Country,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,...,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy,"SD_Yes, full-time","SD_Yes, part-time"
0,1,Yes,No,Kenya,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy,0,0
1,3,Yes,Yes,United Kingdom,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,0,0
2,4,Yes,Yes,United States,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,24-26 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,5,No,No,United States,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,18-20 years,...,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy,0,0
4,7,Yes,No,South Africa,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,6-8 years,...,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,0,1
5,8,Yes,No,United Kingdom,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,6-8 years,...,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy,0,0
6,9,Yes,Yes,United States,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,9-11 years,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Somewhat easy,0,0
7,10,Yes,Yes,Nigeria,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Designer;Front-end developer;QA or test developer,0-2 years,...,NaN,Primary/elementary school,Black or of African descent,25 - 34 years old,No,NaN,The survey was too long,Somewhat difficult,0,0
8,11,Yes,Yes,United States,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",30 or more years,...,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy,0,0
9,16,No,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Designer,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
10,17,Yes,No,Spain,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...","1,000 to 4,999 employees",Back-end developer;Database administrator;Mobi...,6-8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
11,18,Yes,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",100 to 499 employees,Back-end developer;Front-end developer;Full-st...,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
12,19,Yes,No,Croatia,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Front-end developer,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
13,20,No,No,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",20 to 99 employees,Back-end developer;Full-stack developer,3-5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
14,21,No,No,Netherlands,Employed full-time,"Secondary school (e.g. American high school, G...",NaN,20 to 99 employees,Back-end developer;Front-end developer;Student,0-2 years,...,NaN,Associate degree,White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Neither easy nor difficult,1,0
15,22,Yes,No,Israel,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Fine arts or performing arts (ex. graphic desi...,"5,000 to 9,999 employees",Full-stack developer,3-5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
16,26,No,No,United States,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Student,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
17,27,Yes,No,Sweden,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",10 to 19 employees,Back-end developer,6-8 years,...,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Somewhat difficult,0,0
18,29,Yes,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,"10,000 or more employees",Data or business analyst;Data scientist or mac...,0-2 years,...,NaN,Some college/university study without earning ...,NaN,NaN,NaN,NaN,The survey was too long,Very difficult,1,0
19,31,Yes,Yes,Chile,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,3-5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
20,33,Yes,Yes,Australia,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","1,000 to 4,999 employees",Database administrator;Full-stack developer;Mo...,15-17 years,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult,0,0
21,34,Yes,No,United States,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,500 to 999 employees,Back-end developer;Desktop or enterprise appli...,24-26 years,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy,0,0
22,37,No,No,United Kingdom,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Database administrator;Desi...,9-11 years,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,25 - 34 years old,No,NaN,The survey was too long,Neither easy nor difficult,0,0
23,38,Yes,No,United States,Employed full-time,Some college/university study without earning ...,NaN,10 to 19 employees,Back-end developer;Database administrator;DevO...,18-20 years,...,NaN,They never completed any formal education,White or of European descent,45 - 54 years old,Yes,No,The survey was too long,Very easy,0,0
24,39,Yes,No,India,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Mobile developer,3-5 years,...,NaN,NaN,NaN,25 - 34 years old,No,NaN,The survey was too long,Very easy,0,0
25,41,Yes,Yes,Greece,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",20 to 99 employees,Full-stack developer,9-11 years,...,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was too long,Very easy,1,0
26,43,Yes,Yes,Sweden,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","1,000 to 4,999 employees",Front-end developer;Full-stack developer,12-14 years,...,Straight or heterosexual,"Secondary school (e.g. American high school, G...",Hispanic or Latino/Latina;White or of European...,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy,0,0
27,44,No,No,United States,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",100 to 499 employees,Back-end developer;Full-stack developer,3-5 years,...,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,25 - 34 years old,No,No,The survey was too long,Very easy,0,0
28,45,Yes,Yes,United States,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Data scientist or machine l...,6-8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
29,46,Yes,Yes,United Kingdom,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Fewer than 10 employees,Back-end developer;Front-end developer;Full-st...,9-11 years,...,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Black or of African descent;East Asian;Hispani...,35 - 44 years old,Yes,NaN,The survey was too long,Neither easy nor difficult,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98825,101084,Yes,No,India,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98826,101085,Yes,Yes,Russian Federation,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98827,101114,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98828,101120,No,No,Russian Federation,Employed full-time,Primary/elementary school,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98829,101138,Yes,Yes,Netherlands,Employed part-time,"Secondary school (e.g. American high school, G...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98830,101151,Yes,Yes,India,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98831,101152,Yes,No,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98832,101154,Yes,Yes,Netherlands,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98833,101170,Yes,No,India,"Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,Back-end developer;QA or test developer;Student,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98834,101185,Yes,Yes,Poland,"Not employed, and not looking for work",Primary/elementary school,NaN,NaN,Back-end developer;Designer;Student,3-5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98835,101200,Yes,Yes,Viet Nam,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98836,101202,Yes,Yes,"Iran, Islamic Republic of...",Employed full-time,I never completed any formal education,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98837,101205,Yes,No,Czech Republic,"Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98838,101258,No,No,Poland,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98839,101263,Yes,Yes,India,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98840,101281,Yes,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
98841,101310,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98842,101358,Yes,Yes,Pakistan,Employed full-time,Some college/university study without earning ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98843,101366,Yes,No,Indonesia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98844,101371,Yes,Yes,India,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98845,101391,No,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98846,101396,Yes,Yes,Azerbaijan,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98847,101411,No,No,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98848,101432,Yes,No,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98849,101478,No,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98850,101513,Yes,Yes,United States,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98851,101531,No,Yes,Spain,"Not employed, but looking for work",NaN,NaN,NaN,Back-end developer;Front-end developer,0-2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98852,101541,Yes,Yes,India,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
98853,101544,Yes,No,Russian Federation,"Independent contractor, freelancer, or self-em...",Some college/university study without earning ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
98854,101548,Yes,Yes,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [24]:
raw_data.shape

(98855, 129)

## OHE: Explanable feature
## Dummies encoding : necessary information without duplication

In [26]:
raw_data.AIFuture.value_counts()

I'm excited about the possibilities more than worried about the dangers.        50773
I'm worried about the dangers more than I'm excited about the possibilities.    13269
I don't care about it, or I haven't thought about it.                            5686
Name: AIFuture, dtype: int64

In [29]:
# Convert the Country column to a one hot encoded Data Frame
one_hot_encoded = pd.get_dummies(raw_data, columns=['Country'], prefix='OH')

# Print the columns names
print(one_hot_encoded.columns.tolist())

['Respondent', 'Hobby', 'OpenSource', 'Student', 'Employment', 'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType', 'YearsCoding', 'YearsCodingProf', 'JobSatisfaction', 'CareerSatisfaction', 'HopeFiveYears', 'JobSearchStatus', 'LastNewJob', 'AssessJob1', 'AssessJob2', 'AssessJob3', 'AssessJob4', 'AssessJob5', 'AssessJob6', 'AssessJob7', 'AssessJob8', 'AssessJob9', 'AssessJob10', 'AssessBenefits1', 'AssessBenefits2', 'AssessBenefits3', 'AssessBenefits4', 'AssessBenefits5', 'AssessBenefits6', 'AssessBenefits7', 'AssessBenefits8', 'AssessBenefits9', 'AssessBenefits10', 'AssessBenefits11', 'JobContactPriorities1', 'JobContactPriorities2', 'JobContactPriorities3', 'JobContactPriorities4', 'JobContactPriorities5', 'JobEmailPriorities1', 'JobEmailPriorities2', 'JobEmailPriorities3', 'JobEmailPriorities4', 'JobEmailPriorities5', 'JobEmailPriorities6', 'JobEmailPriorities7', 'UpdateCV', 'Currency', 'Salary', 'SalaryType', 'ConvertedSalary', 'CurrencySymbol', 'CommunicationTools', 'TimeFullyProductive', 'EducationTypes', 'SelfTaughtTypes', 'TimeAfterBootcamp', 'HackathonReasons', 'AgreeDisagree1', 'AgreeDisagree2', 'AgreeDisagree3', 'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith', 'DatabaseDesireNextYear', 'PlatformWorkedWith', 'PlatformDesireNextYear', 'FrameworkWorkedWith', 'FrameworkDesireNextYear', 'IDE', 'OperatingSystem', 'NumberMonitors', 'Methodology', 'VersionControl', 'CheckInCode', 'AdBlocker', 'AdBlockerDisable', 'AdBlockerReasons', 'AdsAgreeDisagree1', 'AdsAgreeDisagree2', 'AdsAgreeDisagree3', 'AdsActions', 'AdsPriorities1', 'AdsPriorities2', 'AdsPriorities3', 'AdsPriorities4', 'AdsPriorities5', 'AdsPriorities6', 'AdsPriorities7', 'AIDangerous', 'AIInteresting', 'AIResponsible', 'AIFuture', 'EthicsChoice', 'EthicsReport', 'EthicsResponsible', 'EthicalImplications', 'StackOverflowRecommend', 'StackOverflowVisit', 'StackOverflowHasAccount', 'StackOverflowParticipate', 'StackOverflowJobs', 'StackOverflowDevStory', 'StackOverflowJobsRecommend', 'StackOverflowConsiderMember', 'HypotheticalTools1', 'HypotheticalTools2', 'HypotheticalTools3', 'HypotheticalTools4', 'HypotheticalTools5', 'WakeTime', 'HoursComputer', 'HoursOutside', 'SkipMeals', 'ErgonomicDevices', 'Exercise', 'Gender', 'SexualOrientation', 'EducationParents', 'RaceEthnicity', 'Age', 'Dependents', 'MilitaryUS', 'SurveyTooLong', 'SurveyEasy', 'OH_Afghanistan', 'OH_Albania', 'OH_Algeria', 'OH_Andorra', 'OH_Angola', 'OH_Antigua and Barbuda', 'OH_Argentina', 'OH_Armenia', 'OH_Australia', 'OH_Austria', 'OH_Azerbaijan', 'OH_Bahamas', 'OH_Bahrain', 'OH_Bangladesh', 'OH_Barbados', 'OH_Belarus', 'OH_Belgium', 'OH_Belize', 'OH_Benin', 'OH_Bhutan', 'OH_Bolivia', 'OH_Bosnia and Herzegovina', 'OH_Botswana', 'OH_Brazil', 'OH_Brunei Darussalam', 'OH_Bulgaria', 'OH_Burkina Faso', 'OH_Burundi', 'OH_Cambodia', 'OH_Cameroon', 'OH_Canada', 'OH_Cape Verde', 'OH_Central African Republic', 'OH_Chile', 'OH_China', 'OH_Colombia', 'OH_Congo, Republic of the...', 'OH_Costa Rica', 'OH_Croatia', 'OH_Cuba', 'OH_Cyprus', 'OH_Czech Republic', "OH_Côte d'Ivoire", "OH_Democratic People's Republic of Korea", 'OH_Democratic Republic of the Congo', 'OH_Denmark', 'OH_Djibouti', 'OH_Dominica', 'OH_Dominican Republic', 'OH_Ecuador', 'OH_Egypt', 'OH_El Salvador', 'OH_Eritrea', 'OH_Estonia', 'OH_Ethiopia', 'OH_Fiji', 'OH_Finland', 'OH_France', 'OH_Gabon', 'OH_Gambia', 'OH_Georgia', 'OH_Germany', 'OH_Ghana', 'OH_Greece', 'OH_Grenada', 'OH_Guatemala', 'OH_Guinea', 'OH_Guinea-Bissau', 'OH_Guyana', 'OH_Haiti', 'OH_Honduras', 'OH_Hong Kong (S.A.R.)', 'OH_Hungary', 'OH_Iceland', 'OH_India', 'OH_Indonesia', 'OH_Iran, Islamic Republic of...', 'OH_Iraq', 'OH_Ireland', 'OH_Israel', 'OH_Italy', 'OH_Jamaica', 'OH_Japan', 'OH_Jordan', 'OH_Kazakhstan', 'OH_Kenya', 'OH_Kuwait', 'OH_Kyrgyzstan', 'OH_Latvia', 'OH_Lebanon', 'OH_Lesotho', 'OH_Liberia', 'OH_Libyan Arab Jamahiriya', 'OH_Liechtenstein', 'OH_Lithuania', 'OH_Luxembourg', 'OH_Madagascar', 'OH_Malawi', 'OH_Malaysia', 'OH_Maldives', 'OH_Mali', 'OH_Malta', 'OH_Marshall Islands', 'OH_Mauritania', 'OH_Mauritius', 'OH_Mexico', 'OH_Micronesia, Federated States of...', 'OH_Monaco', 'OH_Mongolia', 'OH_Montenegro', 'OH_Morocco', 'OH_Mozambique', 'OH_Myanmar', 'OH_Namibia', 'OH_Nauru', 'OH_Nepal', 'OH_Netherlands', 'OH_New Zealand', 'OH_Nicaragua', 'OH_Niger', 'OH_Nigeria', 'OH_North Korea', 'OH_Norway', 'OH_Oman', 'OH_Other Country (Not Listed Above)', 'OH_Pakistan', 'OH_Palau', 'OH_Panama', 'OH_Paraguay', 'OH_Peru', 'OH_Philippines', 'OH_Poland', 'OH_Portugal', 'OH_Qatar', 'OH_Republic of Korea', 'OH_Republic of Moldova', 'OH_Romania', 'OH_Russian Federation', 'OH_Rwanda', 'OH_Saint Lucia', 'OH_San Marino', 'OH_Saudi Arabia', 'OH_Senegal', 'OH_Serbia', 'OH_Sierra Leone', 'OH_Singapore', 'OH_Slovakia', 'OH_Slovenia', 'OH_Solomon Islands', 'OH_Somalia', 'OH_South Africa', 'OH_South Korea', 'OH_Spain', 'OH_Sri Lanka', 'OH_Sudan', 'OH_Suriname', 'OH_Swaziland', 'OH_Sweden', 'OH_Switzerland', 'OH_Syrian Arab Republic', 'OH_Taiwan', 'OH_Tajikistan', 'OH_Thailand', 'OH_The former Yugoslav Republic of Macedonia', 'OH_Timor-Leste', 'OH_Togo', 'OH_Trinidad and Tobago', 'OH_Tunisia', 'OH_Turkey', 'OH_Turkmenistan', 'OH_Uganda', 'OH_Ukraine', 'OH_United Arab Emirates', 'OH_United Kingdom', 'OH_United Republic of Tanzania', 'OH_United States', 'OH_Uruguay', 'OH_Uzbekistan', 'OH_Venezuela, Bolivarian Republic of...', 'OH_Viet Nam', 'OH_Yemen', 'OH_Zambia', 'OH_Zimbabwe']

In [31]:
# Create a series out of the Country column
countries = raw_data.Country

# Get the counts of each category
country_counts = countries.value_counts()

# Print the count values for each category
print(country_counts)

United States                            20309
India                                    13721
Germany                                   6459
United Kingdom                            6221
Canada                                    3393
Russian Federation                        2869
France                                    2572
Brazil                                    2505
Poland                                    2122
Australia                                 2018
Netherlands                               1841
Spain                                     1769
Italy                                     1535
Ukraine                                   1279
Sweden                                    1164
Pakistan                                  1050
China                                     1037
Switzerland                               1010
Turkey                                    1004
Israel                                    1003
Iran, Islamic Republic of...               921
Romania                                    793
Austria                                    788
Czech Republic                             784
Belgium                                    743
Mexico                                     736
Bangladesh                                 697
Denmark                                    653
South Africa                               637
Indonesia                                  630
                                         ...
Barbados                                     4
Cape Verde                                   3
Liberia                                      3
Swaziland                                    3
Guinea                                       3
Mauritania                                   3
Suriname                                     2
Central African Republic                     2
Palau                                        2
Guyana                                       2
Dominica                                     2
Niger                                        2
Marshall Islands                             2
Micronesia, Federated States of...           2
Lesotho                                      2
Democratic People's Republic of Korea        2
Brunei Darussalam                            1
Timor-Leste                                  1
Belize                                       1
Solomon Islands                              1
Sierra Leone                                 1
Guinea-Bissau                                1
Grenada                                      1
San Marino                                   1
Burundi                                      1
Mali                                         1
Eritrea                                      1
Djibouti                                     1
Nauru                                        1
Saint Lucia                                  1
Name: Country, Length: 183, dtype: int64

In [48]:
# Create a mask for only categories that occur less than 10 times
mask = countries.isin(country_counts[country_counts < 300].index) # countries name which is less than 10 entry

# Print the top 5 rows in the mask series
print(mask)

0         True
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12        True
13       False
14       False
15       False
16       False
17       False
18       False
19        True
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
98825    False
98826    False
98827    False
98828    False
98829    False
98830    False
98831    False
98832    False
98833    False
98834    False
98835    False
98836    False
98837    False
98838    False
98839    False
98840    False
98841    False
98842    False
98843    False
98844    False
98845    False
98846    False
98847    False
98848    False
98849    False
98850    False
98851    False
98852    False
98853    False
98854    False
Name: Country, Length: 98855, dtype: bool

In [49]:
# Label all other categories as Other
countries[mask] = 'Other'

# Print the updated category counts
print(countries.value_counts())

United States                   20309
India                           13721
Other                            7174
Germany                          6459
United Kingdom                   6221
Canada                           3393
Russian Federation               2869
France                           2572
Brazil                           2505
Poland                           2122
Australia                        2018
Netherlands                      1841
Spain                            1769
Italy                            1535
Ukraine                          1279
Sweden                           1164
Pakistan                         1050
China                            1037
Switzerland                      1010
Turkey                           1004
Israel                           1003
Iran, Islamic Republic of...      921
Romania                           793
Austria                           788
Czech Republic                    784
Belgium                           743
Mexico                            736
Bangladesh                        697
Denmark                           653
South Africa                      637
Indonesia                         630
Argentina                         611
Norway                            565
New Zealand                       557
Ireland                           554
Portugal                          528
Finland                           521
Philippines                       520
Greece                            516
Hungary                           470
Sri Lanka                         454
Bulgaria                          425
Egypt                             419
Nigeria                           399
Singapore                         376
Malaysia                          363
Japan                             361
Serbia                            358
Colombia                          339
Belarus                           339
Viet Nam                          331
Name: Country, dtype: int64

C:\Users\GirrajJangid\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Binning Numerical data

In [57]:
# cutting data into groups
raw_data.Age.value_counts()

25 - 34 years old     31759
18 - 24 years old     15249
35 - 44 years old     11477
45 - 54 years old      3313
Under 18 years old     1638
55 - 64 years old       959
65 years or older       179
Name: Age, dtype: int64

In [59]:
raw_data.Age.head()

0    25 - 34 years old
1    35 - 44 years old
2                  NaN
3    35 - 44 years old
4    18 - 24 years old
Name: Age, dtype: object

In [61]:
pd.cut(raw_data.Age , bins=[-np.inf , 0 ,2,np.inf] , labels = [1,2,3])

TypeError: '<' not supported between instances of 'float' and 'str'

In [65]:
# Create the Paid_Job column filled with zeros
raw_data['Paid_Job'] = 0

# Replace all the Paid_Job values where ConvertedSalary is > 0
raw_data.loc[raw_data['ConvertedSalary'] > 0 ,'Paid_Job' ] = 1
# Print the first five rows of the columns
print(raw_data[['Paid_Job', 'ConvertedSalary']].head())

   Paid_Job  ConvertedSalary
0         0              NaN
1         1          70841.0
2         0              NaN
3         0              NaN
4         1          21426.0

In [68]:
    # Bin the continuous variable ConvertedSalary into 5 bins
raw_data['equal_binned'] = pd.cut(raw_data['ConvertedSalary'],bins=5)

# Print the first 5 rows of the equal_binned column
print(raw_data[['equal_binned', 'ConvertedSalary']].head())

          equal_binned  ConvertedSalary
0                  NaN              NaN
1  (-2000.0, 400000.0]          70841.0
2                  NaN              NaN
3                  NaN              NaN
4  (-2000.0, 400000.0]          21426.0

In [69]:
# Import numpy
import numpy as np

# Specify the boundaries of the bins
bins = [-np.inf, 10000, 50000, 100000, 150000, np.inf]

# Bin labels
labels = ['Very low', 'Low', 'Medium', 'High', 'Very high']

# Bin the continuous variable ConvertedSalary using these boundaries
raw_data['boundary_binned'] = pd.cut(raw_data['ConvertedSalary'], bins=bins, labels=labels)

# Print the first 5 rows of the boundary_binned column
print(raw_data[['boundary_binned', 'ConvertedSalary']].head())

  boundary_binned  ConvertedSalary
0             NaN              NaN
1          Medium          70841.0
2             NaN              NaN
3             NaN              NaN
4             Low          21426.0