# Why do missing value exists

In [1]:
import pandas as pd
import numpy as np

In [6]:
so_survey_df = pd.read_csv('../../DataSets/stackoverflow 2018/survey_results_public.csv').iloc[:5000,:20]

C:\Users\GirrajJangid\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
so_survey_df.head()

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,JobSatisfaction,CareerSatisfaction,HopeFiveYears,JobSearchStatus,LastNewJob,AssessJob1,AssessJob2,AssessJob3
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,3-5 years,Extremely satisfied,Extremely satisfied,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,10.0,7.0,8.0
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,18-20 years,Moderately dissatisfied,Neither satisfied nor dissatisfied,Working in a different or more specialized tec...,I am actively looking for a job,More than 4 years ago,1.0,7.0,10.0
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,24-26 years,6-8 years,Moderately satisfied,Moderately satisfied,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,18-20 years,12-14 years,Neither satisfied nor dissatisfied,Slightly dissatisfied,Working as a founder or co-founder of my own c...,"I’m not actively looking, but I am open to new...",Less than a year ago,NaN,NaN,NaN
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,6-8 years,0-2 years,Slightly satisfied,Moderately satisfied,Working in a different or more specialized tec...,"I’m not actively looking, but I am open to new...",Between 1 and 2 years ago,8.0,5.0,7.0

In [9]:
# Subset the DataFrame
sub_df = so_survey_df[['Age','Gender']]

# Print the number obf non-missing values
print(sub_df.info())

KeyError: "['Age' 'Gender'] not in index"

In [10]:
so_survey_df.columns

Index(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType',
       'YearsCoding', 'YearsCodingProf', 'JobSatisfaction',
       'CareerSatisfaction', 'HopeFiveYears', 'JobSearchStatus', 'LastNewJob',
       'AssessJob1', 'AssessJob2', 'AssessJob3'],
      dtype='object')

# Dealing with missing values

In [ ]:
# droping row and columns
# replaceing with specific string's

# Replace missing values
so_survey_df['Gender'].fillna('Not Given',inplace =True)

# Print the count of each value
print(so_survey_df['Gender'].value_counts())

In [11]:
# replace with them with mean
# replace with them with median

In [20]:
so_survey_df.AssessJob1.head()

0    10.0
1     1.0
2     NaN
3     NaN
4     8.0
Name: AssessJob1, dtype: float64

In [26]:
np.mean(so_survey_df.AssessJob1) # exclude NaN  then calculate mean

6.541390728476821

In [27]:
so_survey_df.AssessJob1.mean()

6.541390728476821

In [30]:
so_survey_df.AssessJob1.fillna(so_survey_df.AssessJob1.mean()).head()

0    10.000000
1     1.000000
2     6.541391
3     6.541391
4     8.000000
Name: AssessJob1, dtype: float64

In [35]:
round(so_survey_df.AssessJob1.fillna(so_survey_df.AssessJob1.mean())).head()

0    10.0
1     1.0
2     7.0
3     7.0
4     8.0
Name: AssessJob1, dtype: float64

# if missing values is in test set then, values calculated on the train test should be applied to both DataFrames.

# Dealing with special characters (, " , , , etc)
# like salary 4,512,52 this should be like 451252

In [ ]:
df['column'].str.replace(',','')
df['column'].astype('float')

In [49]:
print('%.2f'%(1498798.451654))

1498798.45

In [ ]:
# Replace the offending characters
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].str.replace('£','')

# Convert the column to float
so_survey_df['RawSalary'] = so_survey_df['RawSalary'].astype('float')

# Print the column
print(so_survey_df['RawSalary'])

In [ ]:
# Use method chaining
so_survey_df['RawSalary'] = so_survey_df['RawSalary']\
                              .str.replace(',','')\
                              .str.replace('$','')\
                              .str.replace('£','')\
                              .astype('float')
# Print the RawSalary column
print(so_survey_df['RawSalary'])